In [2]:
import pandas as pd
A = pd.read_csv("C:/Users/Baccchi/Downloads/Cars93.csv")

In [3]:
cat = []
con = []
for i in A.columns:
    if(A[i].dtypes=="object"):
        cat.append(i)
    else:
        con.append(i)

In [4]:
cat

['Manufacturer',
 'Model',
 'Type',
 'AirBags',
 'DriveTrain',
 'Cylinders',
 'Man.trans.avail',
 'Origin',
 'Make']

In [5]:
con

['Unnamed: 0',
 'Min.Price',
 'Price',
 'Max.Price',
 'MPG.city',
 'MPG.highway',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Rev.per.mile',
 'Fuel.tank.capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Width',
 'Turn.circle',
 'Rear.seat.room',
 'Luggage.room',
 'Weight']

In [6]:
A["AirBags"].dtypes

dtype('O')

In [7]:
Y = A[["Price"]]
X = A[["Horsepower",'Weight',"Width"]]
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=20)

from sklearn.linear_model import LinearRegression
lm = LinearRegression()
model = lm.fit(xtrain,ytrain)
pred = model.predict(xtest)

from sklearn.metrics import mean_absolute_error
mean_absolute_error(ytest,pred)

2.155628039253113

In [8]:
B = pd.get_dummies(A.Type)
B['Type'] = A.Type

In [9]:
B.head(2)

   Compact  Large  Midsize  Small  Sporty  Van     Type
0        0      0        0      1       0    0    Small
1        0      0        1      0       0    0  Midsize

In [10]:
B = pd.get_dummies(A.Type)

In [11]:
B.head(2)

   Compact  Large  Midsize  Small  Sporty  Van
0        0      0        0      1       0    0
1        0      0        1      0       0    0

In [12]:
X = X.join(B)

In [13]:
X.head(3)

   Horsepower  Weight  Width  Compact  Large  Midsize  Small  Sporty  Van
0         140    2705     68        0      0        0      1       0    0
1         200    3560     71        0      0        1      0       0    0
2         172    3375     67        1      0        0      0       0    0

In [14]:
Y = A[["Price"]]
X = A[["Horsepower",'Weight',"Width"]]
B = pd.get_dummies(A.Type)
X = X.join(B)
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=20)

from sklearn.linear_model import LinearRegression
lm = LinearRegression()
model = lm.fit(xtrain,ytrain)
pred = model.predict(xtest)

from sklearn.metrics import mean_absolute_error
mean_absolute_error(ytest,pred)

2.3636999607534364

In [15]:
Y = A[["Price"]]
X = A[["Horsepower",'Weight',"Width"]]
B = pd.get_dummies(A.AirBags)
X = X.join(B)

from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=20)

from sklearn.linear_model import LinearRegression
lm = LinearRegression()
model = lm.fit(xtrain,ytrain)
pred = model.predict(xtest)

from sklearn.metrics import mean_absolute_error
mean_absolute_error(ytest,pred)

1.9392594499767462

In [16]:
Y = A[["Price"]]
X = A[["Horsepower",'Weight',"Width"]]
X = X.join(pd.get_dummies(A[["Cylinders","AirBags"]]))

from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=20)

from sklearn.linear_model import LinearRegression
lm = LinearRegression()
model = lm.fit(xtrain,ytrain)
pred = model.predict(xtest)

from sklearn.metrics import mean_absolute_error
mean_absolute_error(ytest,pred)

2.305946617716785

In [17]:
xtrain.head()

,Horsepower,Weight,Width,Cylinders_3,Cylinders_4,Cylinders_5,Cylinders_6,Cylinders_8,Cylinders_rotary,AirBags_Driver & Passenger,AirBags_Driver only,AirBags_None
38,55,1695,63,1,0,0,0,0,0,0,0,1
37,190,3950,78,0,0,0,0,1,0,0,1,0
50,160,3695,73,0,0,0,1,0,0,1,0,0
35,145,3735,72,0,0,0,1,0,0,0,1,0
64,150,3050,67,0,1,0,0,0,0,0,1,0

In [18]:
from statsmodels.api import add_constant,OLS
X = add_constant(A[con])
X = X.drop(labels=["Price","Min.Price","Max.Price","Unnamed: 0","Luggage.room","Rear.seat.room","MPG.city","MPG.highway","Length","Fuel.tank.capacity","EngineSize","Rev.per.mile","Passengers","Weight"],axis=1)
Y = A[["Price"]]

In [19]:
#Ycap = b0+b1X1+b2X2+b3X3....bnXn

In [20]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=20)

In [21]:
ols = OLS(ytrain,xtrain)
model = ols.fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.684
Model:                            OLS   Adj. R-squared:                  0.661
Method:                 Least Squares   F-statistic:                     29.44
Date:                Sun, 14 Feb 2021   Prob (F-statistic):           8.87e-16
Time:                        11:48:26   Log-Likelihood:                -230.73
No. Observations:                  74   AIC:                             473.5
Df Residuals:                      68   BIC:                             487.3
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          60.3287     27.654      2.182      0.033       5.147     115.511
Horsepower      0.1832      0.020      9.003      0.000       0.143       0.224
RPM            -0.0034      0.002     -2.089      0.040      -0.007      -0.000
Wheelbase       0.6958      0.162      4.303      0.000       0.373       1.019
Width          -1.4473      0.421     -3.441      0.001      -2.287      -0.608
Turn.circle    -0.5425      0.359     -1.509      0.136      -1.260       0.175
==============================================================================
Omnibus:                       26.018   Durbin-Watson:                   1.813
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               61.396
Skew:                           1.127   Prob(JB):                     4.66e-14
Kurtosis:                       6.851   Cond. No.                     2.22e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.22e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [22]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   const        93 non-null     float64
 1   Horsepower   93 non-null     int64
 2   RPM          93 non-null     int64
 3   Wheelbase    93 non-null     int64
 4   Width        93 non-null     int64
 5   Turn.circle  93 non-null     int64
dtypes: float64(1), int64(5)
memory usage: 4.5 KB

p values leasser than 0.05 1 - pvalue = CI

Feature/Variable selection:
    1. Forward
    2. Backward
    3. Auto